*{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e9e9e9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #001164;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  display: flex; 
  align-items: center; 
  color: white;
  padding: 10px;
}
.nav .logo img {
  margin-right: 50px; 
  width: 50px; 
  height: auto; 
}

.nav .logo {
  display: flex; /* Menggunakan flexbox untuk menyusun elemen anak secara horizontal */
  align-items: center; /* Menyelaraskan elemen anak secara vertikal di tengah */
  color: white;
  padding: 10px;
}
.nav .logo img {
  margin-right: 50px; /* Menambahkan ruang antara gambar dan teks */
  width: 50px; /* Tentukan lebar gambar sesuai kebutuhan */
  height: auto; /* Mempertahankan rasio aspek gambar */
}

.nav .topnav {
  color: white;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.nav .menu {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}


.nav .menu-active {
  padding: 10px ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.nav .menu:hover {
  /* background-color: #ccc;
  color: black; */
  transition: background-color 0.3s;
  transform: scale(1.25);
}

.nav .menu-active {
  color: rgb(255, 255, 255);
}

.nav .menu a,
.nav .menu-active a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav .topnav {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .nav .topnav {
    flex-direction: column;
    gap: 5px;
  }

  .nav .menu,
  .nav .menu-active {
    width: auto;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .nav .topnav {
    flex-direction: column;
    gap: 5px;
  }

  .nav .menu,
  .nav .menu-active {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
  }
}

/* ---------------------------------- Bagian Main ------------------------------------- */
.main {
  background-color:#ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding-bottom: 60px;
  padding-left: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-content {
  background-color:#ffffff;
  padding: 5px;
  margin-left: 0px;
  margin-top: 40px;
  text-align: left;
  max-width: 700px;
}

.main-content h1 {
  text-align: left;
  color: #000000;
}

.main-content p {
  font-weight: 250; /* Menggunakan font-weight yang didukung seperti 300 untuk light weight */
  text-align: justify;
  font-family: 'Roboto', sans-serif; /* Mengganti font dengan font dari Google Fonts */
}


.main-image {
  text-align: right; /* Optional: untuk menengahkan gambar dalam div */
}

.image-content img.resizable-image {
  max-width: 100%; /* Agar gambar responsif dan tidak melebihi lebar kontainer */
  width: 88%; /* Menentukan ukuran gambar menjadi 50% dari lebar kontainer */
  height: auto; /* Menjaga rasio aspek gambar */
}


.button-container {
  text-align: left; /* Mengatur tombol di dalam elemen ini ke kiri */
}
#viewMoreBtn {
  display: inline-block; /* Mengubah display ke inline-block untuk menghindari masalah dengan block level */
  margin: 20px 0; /* margin atas dan bawah 20px */
  padding: 10px 20px;
  background: linear-gradient(90deg, #007bff, #0056b3); /* Gradasi warna */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan */
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transisi halus */
  font-size: 16px; /* Ukuran font */
}

#viewMoreBtn:hover {
  background: linear-gradient(90deg, #0056b3, #007bff); /* Warna gradasi berlawanan */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Bayangan lebih besar saat hover */
  transform: translateY(-2px); /* Mengangkat tombol sedikit saat hover */
}


 /* -------------------------------------- bagian overview -------------------------------------------- */

.overview {
  background: linear-gradient(135deg,#1e5282, #74b9ff);
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  text-align: right;
  height: 160px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  color: #ffffff;
}


.wrapper-overview {
  /* background-color: #14986c; */
  display: flex;
  flex-wrap: wrap;
  /* Menggunakan flex-wrap agar item bisa wrap ke baris baru saat layar lebih kecil */
  gap: 50px;
  justify-content: center;
  padding: 0px;
}

.wrapper-overview .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Tambahkan bayangan */
  background-color: rgba(255, 255, 255, 0.95);
  /* Ubah opacity untuk membuatnya lebih transparan */
  color: rgb(0, 0, 0);
  width: 200px;
  flex-basis: calc((100% - 80px * (3 - 1)) / 3);
  max-width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  transition: all 0.3s ease;
  /* Tambahkan efek transisi */
}


.wrapper-overview .card:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
  /* Ubah warna latar belakang ketika hover */
}

.wrapper-overview .card .title-overview {
  text-align: center;
  color: #333;
  /* Tengahkan judul */
  margin: 5px;
}

.wrapper-overview .card .overview-value {
  text-align: center;
  color: #555;
  /* Tengahkan nilai */
  margin: 0;
}

.wrapper-overview .card ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
}


 /* -------------------------------------- bagian statistic -------------------------------------------- */

.statistic {
  background-color:#f9f9f9;
  padding-left: 20px;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.statistic .statistic-title {
  padding-top: 60px;
  margin-left: 10px;
  padding-bottom: 70px;
}

.statistic .wrapper-statistic {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-around;
  align-items: center;
}



.statistic-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.statistic-card:hover {
  background-color: #f0f0f0;
}

.statistic-card-link {
  display: inline-block;
  margin: 10px;
}




/*------------------------------ BAGIAN FOOTER----------------------------------------- */

.footer {
  padding: 20px;
  height: 40px;
  /* Tambahkan sedikit padding agar konten tidak terlalu berdekatan dengan tepi */
  background-color: black;
  color: white;
  text-align: center;
  /* Tengahkan teks */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    padding: 15px;
    /* Kurangi padding saat layar menjadi lebih kecil */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;
    /* Kurangi padding lebih lanjut untuk layar yang lebih kecil */
  }
}